%h1 Welcome

%h2 Eventbox
#chat{style: "border: 1px solid #555; padding: 10px; height: 100px; overflow:scroll;"}
%form
  %input#msg{placeholder: 'type your message'}

:javascript
  var es = new EventSource('/stream');
  es.onmessage = function(e) { $('#chat').append(e.data + "<br>") };

  // writing
  $(document).on('submit', 'form', function(e) {
    $.post('/', {msg: "msg: " + $('#msg').val()});
    $('#msg').val(''); $('#msg').focus();
    e.preventDefault();
  });
